---
import { ViewTransitions } from 'astro:transitions'
import { pwaInfo } from 'virtual:pwa-info'

// import { SEO } from 'astro-seo'

import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/assets/styles/base.css'
// import { findLinkById } from '@/config/pages'

import type { PageId } from '@/config/pages'

export interface Props {
  pageId: PageId
  title?: string
}

const { pageId, title: heading } = Astro.props

// const { seo } = findLinkById(pageId)
const lang = 'en'
---

<html lang={lang}>
  <html>
    <head>
      <!-- <SEO {...seo} /> -->
      <meta content="width=device-width,initial-scale=1" name="viewport" />
      <link href="/favicon.ico" rel="icon" sizes="48x48" />
      <link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml" />
      <link href="/apple-touch-icon-180x180.png" rel="apple-touch-icon" />
      <link href="/sitemap-index.xml" rel="sitemap" />
      <meta content="#721CB8" name="theme-color" />
      <ViewTransitions />
      <script src="/src/pwa.ts"></script>
      {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    </head>
    <body
      class="flex min-h-screen flex-col overflow-x-hidden bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100"
    >
      <Header {pageId} title={heading} transition:persist="header" />
      <main class="mb-8 min-h-max flex-1 text-pretty p-6" id="#main">
        <slot />
      </main>
      <Footer transition:persist />
      <script is:inline>
        const theme = (() => {
          if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
          ) {
            return localStorage.getItem('theme')
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark'
          }
          return 'light'
        })()

        if (theme === 'light') {
          document.documentElement.classList.remove('dark')
        } else {
          document.documentElement.classList.add('dark')
        }

        window.localStorage.setItem('theme', theme)
      </script>
    </body>
  </html>
</html>
